@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserList = ViewData["UserList"] as List<WebAdmin.Models.User>;

    var StoreList = ViewData["StoreList"] as List<WebAdmin.Models.Store>;
}


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>User</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>Address</th>
                            <th>Store</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < UserList.Count; i++)
                        {
                          
                          
                            <tr>

                                <td id="tdUsername_@i" value="@UserList[i].Username">@UserList[i].Username</td>
                                <td id="tdFullName_@i" value="@UserList[i].FullName">@UserList[i].FullName</td>

                                <td id="tdAddress_@i" value="@UserList[i].Address">@UserList[i].Address</td>
                                <td id="tdStoreName_@i" value="@UserList[i].StoreId">@UserList[i].StoreName</td>
                                <td id="tdRoleId_@i" value="@UserList[i].RoleId">@UserList[i].RoleType</td>
                                <td>
                                    <button onclick="setData(@i)" class="btn btn-info btn-xs btnEdit" data-toggle="modal" data-target="#editUserModel" value="@i"><i class="fa fa-wrench"></i> Edit </button>
                                    @using (Html.BeginForm("RemoveUser", "User", FormMethod.Post))
                                    {
                                        <input type="text" id="tdId_@i" value="@UserList[i].Id" name="Id" hidden />
                                        <button type="submit" class="btn btn-danger btn-xs" id="btnRemove" value="@UserList[i].Id"><i class="fa fa-trash-o"></i> Remove </button>
                                    }
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editUserModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("UpdateUser", "User", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
            {
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Id">

                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="FullName">
                        Full Name
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="hidden" id="Id" name="Id" class="form-control col-md-7 col-xs-12">
                        <input type="text" id="FullName" name="FullName" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Address">
                        Address
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="Address" name="Address" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>

          

            

            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>

            }

            </div>
    </div>
</div>

<script src="../vendors/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {

            });

            function setData(i) {
                var id = $("#tdId_" + i).attr('value');
                var fullname = $("#tdFullName_" + i).attr('value');
                var address = $("#tdAddress_" + i).attr('value');
           
           
            
   

                 $("#Id").val(id);
                 $("#FullName").val(fullname);
                $("#Address").val(address);
            
            
                
             
            }
</script>
<script src="../vendors/jquery/dist/jquery.min.js"></script>