@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var OrdersList = ViewData["OrdersList"] as List<WebAdmin.Models.Order>;
}


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Bill</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Table Name</th>
                            <th>Date Create</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < OrdersList.Count; i++)
                        {
                            <tr>
                                <td>@OrdersList[i].OrderId</td>
                                <td>@OrdersList[i].TableName</td>
                                <td>@string.Format("{0:g}", OrdersList[i].DateCreate)</td>
                                <td>@string.Format("{0:C0}", OrdersList[i].Total)</td>
                                <td>
                                    @using (Html.BeginForm("Detail", "Order", FormMethod.Post))
                                    {
                                        <input type="hidden" value="@OrdersList[i].OrderId" name="OrderId" />
                                        <button type="submit" class="btn btn-primary btn-xs"> Detail </button>

                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

